footer {
  height: 70vh;
  background-color: rgb(72, 87, 87);
}
footer .card-footer-1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 30px 0px;
  border-bottom: 1px solid orange;
}
footer .card-footer-1 .text-footer-1 h1 {
  color: rgb(104, 162, 17);
}
footer .card-footer-1 .text-footer-1 h5 {
  color: orange;
}
footer .card-footer-1 .footer-group-icon {
  font-size: 15px;
}
footer .card-footer-1 .footer-group-icon i {
  color: rgb(14, 196, 14);
  padding: 5px;
  border-radius: 20px;
  border: 1px solid rgb(110, 169, 20);
}
footer .card-footer-1 .footer-group-icon i:hover {
  background-color: rgb(247, 214, 51);
  transition: 0.5s;
  color: white;
  transform: translateY(-2px);
}
footer .cardfooter-2 {
  width: 90%;
  height: 40vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .cardfooter-2 .groud-kind-of-footer {
  height: 70%;
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .cardfooter-2 .groud-kind-of-footer h3 {
  color: white;
}
footer .cardfooter-2 .groud-kind-of-footer h5 {
  color: rgb(195, 195, 195);
  font-weight: 100;
}
footer .cardfooter-2 .groud-kind-of-footer img {
  width: 170px;
}
footer .card-footer-3 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
footer .card-footer-3 h5 {
  font-weight: 100;
  display: flex;
  color: rgb(195, 195, 195);
}
footer .card-footer-3 h5 p {
  color: rgb(3, 156, 3);
}

* {
  margin: 0;
}

.first-container {
  position: sticky;
  z-index: 99;
  top: 0;
  background-color: rgb(248, 81, 9);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.first-container .first-container-2 {
  background: linear-gradient(to left top, rgb(217, 255, 0), rgb(255, 102, 0));
  border-radius: 0px 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first-container .f-c-card-page ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.first-container .f-c-card-page ul a {
  text-decoration: none;
  font-size: 4vh;
}
.first-container .f-c-card-page ul a:hover {
  color: rgb(248, 81, 9);
}
.first-container .f-c-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid green;
}
.first-container .f-c-icon {
  color: rgb(242, 124, 100);
  font-size: 40px;
}
.first-container .f-c-icon i:hover {
  color: green;
}
.first-container .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.first-container .hamburger span {
  height: 5px;
  width: 35px;
  background: purple;
  margin: 4px 0;
  border-radius: 3px;
  transition: 0.3s;
}

.header-page {
  background-image: url(/image/25.png);
  background-size: cover;
  background-repeat: repeat;
  height: 30vh;
}
.header-page .header-page-2 {
  background-color: rgba(0, 0, 0, 0.301);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  flex-direction: column;
  gap: 10px;
}
.header-page .header-page-2 h5 {
  display: flex;
  gap: 3px;
  color: rgb(20, 198, 20);
  font-weight: 100;
}
.header-page .header-page-2 h5 p {
  color: white;
}

.contact-page {
  height: 230vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-page .card-contact-page {
  background-color: rgba(183, 190, 190, 0.477);
  border-radius: 15px;
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-page .card-contact-page .header-contact-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.contact-page .card-contact-page .header-contact-page h1 {
  font-weight: 200;
  color: rgb(116, 184, 13);
}
.contact-page .card-contact-page .header-contact-page .header-page-text {
  width: 47%;
  text-align: center;
  padding: 25px;
}
.contact-page .card-contact-page .header-contact-page .header-page-text h5 {
  font-weight: 100;
  color: gray;
}
.contact-page .card-contact-page .map-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact-page .card-contact-page .map-page iframe {
  width: 94%;
  border-radius: 20px;
}
.contact-page .card-contact-page .page-form {
  padding-top: 35px;
  display: flex;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-page .card-contact-page .page-form .form-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.contact-page .card-contact-page .page-form .form-page input {
  padding: 14px;
  border-radius: 15px;
  border: none;
  outline: 1px solid rgb(116, 180, 21);
}
.contact-page .card-contact-page .page-form .form-page textarea {
  height: 20vh;
  padding: 15px;
  border-radius: 14px;
  border: none;
  outline: 1px solid rgb(116, 180, 21);
}
.contact-page .card-contact-page .page-form .form-page .button-page {
  border: none;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid orange;
}
.contact-page .card-contact-page .page-form .form-page .button-page:hover {
  background-color: orange;
  transition: 0.5s;
  color: white;
}
.contact-page .card-contact-page .group-card-page-contact {
  padding-top: 6px;
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.contact-page .card-contact-page .group-card-page-contact .group-card-page-form {
  background-color: rgba(255, 255, 255, 0.752);
  width: 100%;
  height: 18vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.contact-page .card-contact-page .group-card-page-contact .group-card-page-form:hover {
  transform: translateY(-5px);
  transition: 0.5s;
}
.contact-page .card-contact-page .group-card-page-contact .group-card-page-form .card-address {
  display: flex;
  gap: 15px;
  padding-left: 30px;
}
.contact-page .card-contact-page .group-card-page-contact .group-card-page-form .card-address i {
  font-size: 30px;
  color: rgb(102, 160, 14);
}
.contact-page .card-contact-page .group-card-page-contact .group-card-page-form .card-address .card-address-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-page .card-contact-page .group-card-page-contact .group-card-page-form .card-address .card-address-2 h2 {
  font-weight: 200;
  color: gray;
}
.contact-page .card-contact-page .group-card-page-contact .group-card-page-form .card-address .card-address-2 p {
  font-weight: 100;
  color: gray;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", "Open Sans", Arial, sans-serif;
}

@media (max-width: 1440px) and (min-width: 1290px) {
  .contact-page {
    height: 180vh;
  }
  footer {
    height: 60vh;
  }
}
@media (max-width: 900px) and (min-width: 700px) {
  .first-container .first-container-2 .f-c-card-page .nav-links {
    scroll-behavior: smooth;
    background: linear-gradient(to right, orange, yellow);
    display: none;
    flex-direction: column;
    width: 30%;
    justify-content: start;
    text-align: start;
    position: absolute;
    top: 108px;
    right: 0;
    border-radius: 20px;
  }
  .first-container .first-container-2 .f-c-card-page .nav-links li {
    margin: 15px 0;
  }
  .first-container .first-container-2 .f-c-card-page .nav-links.active {
    display: flex;
  }
  .first-container .first-container-2 .hamburger {
    display: flex;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
  }
  .first-container .first-container-2 .f-c-icon {
    display: none;
  }
  .header-page {
    height: 20vh;
  }
  .header-page .header-page-2 {
    height: 20vh;
  }
  .header-page .header-page-2 h5 {
    font-size: 2vh;
  }
  .header-page .header-page-2 h2 {
    font-size: 3vh;
  }
  .contact-page {
    height: 160vh;
  }
  .contact-page .card-contact-page {
    height: 90%;
  }
  .contact-page .card-contact-page .page-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .contact-page .card-contact-page .page-form .form-page {
    width: 100%;
  }
  .contact-page .card-contact-page .page-form .group-card-page-contact {
    width: 100%;
  }
  .contact-page .card-contact-page .page-form .group-card-page-contact .group-card-page-form {
    height: 11vh;
  }
  footer {
    height: 53vh;
  }
}/*# sourceMappingURL=contact.css.map */