@import"./mixins";
@import "./variable";
@import "./footer";
@import"./component-checkout-page/nav";
@import"./component-checkout-page/header";
@import"./component-checkout-page/checkout";

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}


@media (max-width: 1440px) and (min-width:1290px) {
    .checkout-page{
        height: 170vh;
    }

    footer{
        height: 60vh;
    }
    
 }