@import "./mixins";
@import "./variable";
@import "./footer";
@import"./component-contact-page/nav";
@import"./component-contact-page/header-page";
@import"./component-contact-page/contact-page";

* {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}

//   Responsive computer

@media (max-width: 1440px) and (min-width:1290px) {
    .contact-page {
        height: 180vh;
    }

    footer {
        height: 60vh;
    }

}

//   Responsive laptop

@media (max-width: 900px) and (min-width:700px) {
    .first-container {
        .first-container-2 {
            .f-c-card-page {
                .nav-links {
                    scroll-behavior: smooth;
                    background: linear-gradient(to right, orange, yellow);
                    display: none;
                    flex-direction: column;
                    width: 30%;
                    justify-content: start;
                    text-align: start;
                    position: absolute;
                    top: 108px;
                    right: 0;
                    border-radius: 0px 0px 20px 20px;

                    li {
                        margin: 15px 0;
                    }
                }

                .nav-links.active {
                    display: flex;
                }
            }

            .hamburger {
                display: flex;
                border: 2px solid gray;
                border-radius: 10px;
                padding: 5px;
            }

            .f-c-icon {
                display: none;
            }
        }

    }

    .header-page {
        height: 20vh;

        .header-page-2 {
            height: 20vh;

            h5 {
                font-size: 2vh;
            }

            h2 {
                font-size: 3vh;
            }

        }
    }

    .contact-page {
        height: 160vh;

        .card-contact-page {
            height: 90%;

            .page-form {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .form-page {
                    width: 100%;
                }

                .group-card-page-contact {
                    width: 100%;

                    .group-card-page-form {
                        height: 11vh;
                    }
                }
            }
        }
    }

    footer {
        height: 53vh;
    }


}

//   Responsive phone

@media (max-width: 500px) and (min-width:200px) {
    .first-container {
        .first-container-2 {
            .f-c-card-page {
                .nav-links {
                    scroll-behavior: smooth;
                    background: linear-gradient(to right, orange, yellow);
                    display: none;
                    flex-direction: column;
                    width: 45%;
                    justify-content: start;
                    text-align: start;
                    position: absolute;
                    top: 108px;
                    right: 0;
                    border-radius: 0px 0px 20px 20px;

                    li {
                        margin: 15px 0;
                    }
                }

                .nav-links.active {
                    display: flex;
                }
            }

            .hamburger {
                display: flex;
                border: 2px solid gray;
                border-radius: 10px;
                padding: 5px;
            }

            .f-c-icon {
                display: none;
            }
        }

    }

    .header-page {
        height: 20vh;

        .header-page-2 {
            height: 20vh;

            h5 {
                font-size: 2vh;
            }

            h2 {
                font-size: 3vh;
            }

        }
    }

    .contact-page {
        height: 220vh;

        .card-contact-page {
            height: 90%;

            .header-contact-page {
                .header-page-text {
                    width: 90%;
                }
            }

            .page-form {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .form-page {
                    width: 100%;
                }

                .group-card-page-contact {
                    width: 100%;

                    .group-card-page-form {
                        height: 11vh;
                    }
                }
            }
        }
    }

    footer {
        height: 110vh;
        .footer-page {
            display: flex;
            flex-direction: column;
            height: 30vh;
            .cardfooter-2 {
                padding-top: 50px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                height: 100%;
                .groud-kind-of-footer {
                    width: 100%;
                }

            }

            .card-footer-3 {
               display: none;
            }
        }
    }


}