@import"./mixins";
@import "./variable";
@import "./footer";
@import"./component-detail-page/nav";
@import"./component-detail-page/header";
@import"./component-detail-page/product-page";
@import"./component-detail-page/details-page";

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}

@media (max-width: 1440px) and (min-width:1290px) {
    .Detail{
        height: 100vh;
    }

    .page-product-detail{
        height: 80vh;
        .group-product-page{
            height: 100%;
            .group-product-vegetable {
                height: 90%;
                .card-producr-vegetable {
                    height: 56vh;
                }
            }
        }
    }

    

    footer{
        height: 60vh;
    }
    
 }

  @media (max-width: 900px) and (min-width:700px) {
    .first-container{
        .first-container-2{
                .f-c-card-page{
                    .nav-links {
                        scroll-behavior: smooth;
                        background: linear-gradient(to right, orange, yellow);
                        display: none;
                        flex-direction: column;
                        width: 30%;
                        justify-content: start;
                        text-align: start;
                        position: absolute;
                        top: 108px;
                        right: 0;
                        border-radius: 20px;
                        li {
                            margin: 15px 0;
                        }
                    }
                    .nav-links.active {
                        display: flex;
                    }
                }
                .hamburger {
                        display: flex;
                        border: 2px solid gray;
                        border-radius: 10px;
                        padding: 5px;
                }
                .f-c-icon{
                    display: none;
                }
        }
        
    }

    .header-page {
        height: 20vh;

        .header-page-2 {
            height: 20vh;

            h5 {
                font-size: 2vh;
            }

            h2 {
                font-size: 3vh;
            }

        }
    }
    
    .Detail{
        height: 130vh;
        .details-page{
            .detils-page-1{
                display: flex;
                flex-direction: column;
                .detail-left{
                    .detail-about-fruits{
                        .bottun-card{
                            button{
                                width: 100%;
                            }
                        }
                    }
                }
                .detail-right{
                    display: flex;
                    flex-direction: column;
                    .card-product-3{
                        display: flex;
                        // flex-direction: column;

                    }
                    .card-button-4{
                        button{
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    .page-product-detail{
        height: 105vh;
        .group-product-page{
            height: 100%;
            .group-product-vegetable {
                height: 90%;
                display: flex;
                justify-content: space-around;
                .card-producr-vegetable {
                    height: 40vh;
                    width: 45%;
                }
            }
        }
    }

    footer{
        height: 53vh;
    }

    
}