@import"./mixins";
@import "./variable";
@import "./footer";
@import"./component-detail-page/nav";
@import"./component-detail-page/header";
@import"./component-detail-page/product-page";
@import"./component-detail-page/details-page";

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}

@media (max-width: 1440px) and (min-width:1290px) {
    .Detail{
        height: 100vh;
    }

    .page-product-detail{
        height: 80vh;
        .group-product-page{
            height: 100%;
            .group-product-vegetable {
                height: 90%;
                .card-producr-vegetable {
                    height: 56vh;
                }
            }
        }
    }

    .product-page-fruits{
        height: 150vh;
        .product-page-2{
            height: 78%;
            .card-product{
                height: 55vh;
            }
        }
    }
    

    footer{
        height: 60vh;
    }
    
 }