@import"./mixins";
@import "./variable";
@import "./footer";
@import"./component-detail-page/nav";
@import"./component-detail-page/header";
@import"./component-detail-page/product-page";
@import"./component-detail-page/details-page";

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}