@import"./mixins";
@import "./variable";
@import "./footer";
@import"./component-shop-page/nav";
@import"./component-shop-page/header";
@import"./component-shop-page/product-page";
@import"./component-shop-page/feedback-custumer";
@import"./component-shop-page/product-fruits";


*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}