
@import "./mixins";
@import "./variable";
@import "./footer";
@import "./compoment-home-page/values";
@import "./compoment-home-page/header";
@import "./compoment-home-page/nav";
@import "./compoment-home-page/product";
@import "./compoment-home-page/show-product";
@import "./compoment-home-page/product-vegetable";
@import "./compoment-home-page/big-product";
@import "./compoment-home-page/bestseller";
@import "./compoment-home-page/feedback-page";



*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}
