.header-page{
    background-image: url(/image/25.png);
    background-size: cover;
    background-repeat: repeat;
    height: 30vh;
  
    .header-page-2{
        background-color: rgba(0, 0, 0, 0.301);
        height: 30vh;
        @include center;
        color: rgb(255, 255, 255);
        flex-direction: column;
        gap: 10px;
        h5{
            display: flex;
            gap: 3px;
            color: rgb(20, 198, 20);
            font-weight: 100;
            p{
                color: $white-color;
            }
        }
    }
}